.tag{
    display: inline;
    width: 100%;
    overflow: hidden;
    white-space:nowrap;
}

.card-content{
    max-height: 100px;
    overflow: hidden;
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
}